*.iml
.gradle
.kotlin
.idea/
/local.properties
local.properties
.DS_Store
/build
build/
app/build/
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
.env
debug.keystore
gradle/wrapper/*.zip
gradle/gradle-*/
